<div x-ng-app="mmwApp">
  <div x-ng-controller="SearchesCtrl">
<div class="container">

<div class="top-bar" style="padding-right: 5%;" data-topbar>
  <section class="top-bar-section">
    <ul class="right">
    <div class="row collapse">
      <div class="large-8 small-9 columns">
        <input ng-model="searchSearch" type="text" class="form-control">
      </div>
      <div class="large-4 small-3 columns">
        <a href="#" class="alert button expand">Search</a>
      </div>
    </div>
    </ul>
  </section>
</div >

  <div class="row">
    <div class="large-3 columns">
      <div style="margin-top: 15%">
        <%= image_tag "logo_sm.png" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-9 push-3 columns" style="margin-top: -5%">
      <h5>Most Frequent Search Queries</h5>
      <table>
        <thead>
          <tr >
            <th width="200">Query Name</th>
            <th>Created At:</th>
          </tr>
        </thead>
        <tbody >
          <tr ng-repeat="search in searches | filter:searchSearch">
            <td>{{search.query}}</td>
            <td>{{search.created_at}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="large-3 pull-9 columns">
      <ul class="side-nav">
       <li><%= link_to "Most Recent Searches", admins_path %></li>
       <li><%= link_to "Most Frequent Searches", dashboard_index_path %></li>
     </ul>
   </div>
 </div>


</div>


<div class="main">

  <div id="searches-destination"></div>

</div>

<script id="searches-template" type="text/x-handlebars-template">
{{#each searches}}

<p>Query: {{query}} Created at: {{created_at}}</p>


{{/each}}
</script>



  </div>
</div>

<!-- <script>$(function() { loadSearches(); }); </script> -->