<div class= "container" style>
    <div class="dmx_logo">
    </div>
    <div style="margin-top: -200px">
    	<%= render partial: 'form' %>
  </div>

  <div class= "footer" style="position: absolute;">
    <footer class="row">
      <div class="large-12 columns"><hr/>
        <div class="row">

              <!-- <div class="large-6 columns">
                <p>© MMW</p>
              </div> -->

          <div class="large-6 columns">
            <ul class="inline-list center" >
              <li>© MMW</li>
              <li><a href="/admins">Analytics</a></li>
              <li></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>