<script type="text/javascript">
function searchBarAppear(keyEvent) {
  var searchbar = document.getElementById("searchbar");

  searchbar.style.display = "block";
  document.getElementById("searchbox").focus();
   if (keyEvent.keyCode == 27) {
     searchbar.style.display = "none";
    } else if (keyEvent.keyCode == 37){
    searchbar.style.display = "none";
    }else if (keyEvent.keyCode == 39) {
     searchbar.style.display = "none";
    }
}

window.onload = searchBarAppear;
</script>

<div class= "container">

  <div style="display:none" id="searchbar">
    <%= render partial: 'form' %>
    <p class="helpertext">Explore Multimedia Wikipedia topics by entering a keyword</p>
  </div>
  
  <div class="dmx_logo">
  </div>

</div>