<div class= "container">
  <div class="dmx_logo">
  </div>
  <div style="margin-top: -200px">
   <%= render partial: 'form' %>
 </div>

 <div class= "footer" style="position: absolute;">
  <footer class="row">
    <div class="large-12 columns"><hr/>
      <div class="row">
        <div class="large-6 columns">
          <ul class="inline-list center" >
            <li>© MMW</li>
          </ul>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="#">Ask DMX</a></li>
            <li><a href="/admins">Analytics Dashboard</a></li>
            <li><a href="https://github.com/malloryreuls/mmw">View GitHub Repo</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>
</div>