// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background-image: url('wallpaper.jpg');
}
.dmx_logo {
  background-image: url('logo.png');
  width: 380px;
  height: 400px;
}
.search_bar {
  margin: 0 auto;
  width: 50%;
  z-index: -1;
}